/* Ensure padding is included in width calculations */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;   
}

#root {
  width: calc(100% - 8%);
  margin-left: 8%;
  overflow-x: hidden;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  border-right: #c3c6ff;
  background-color: #1a1a1a; 
}

#nav button {
  width: 100%;
  border-radius: 0;
  text-align: left;
}

.home-page {
  min-height: 10vh;
  width: 100%;
}

.home-profile-img {
  float: left;
  border-radius: 50%;
  padding: 10%;
  margin: 5% 3%;
  background-color: rgb(148, 148, 148);
  background-image: url("/public/parallax.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  border: solid 1px #646cff;
}

.home-banner{
  border-bottom: solid 10px #646cff;
  text-align: left;
  padding: 25%;
  padding-top: 3%;
  padding-bottom: 0;
  background-color: rgb(26, 26, 26);
  width: 100%;
}

.home-content{
  margin-top: 15%;
  min-height: 50vh;
  padding: 5%;
  background-color: rgb(26, 26, 26);
}

.web-software-page{
  min-height: 100%;
  margin-top: 10vh;
  width: 100%;
}

.web-software-banner{
  height: 10vh;
  position: fixed; 
  top: 0;
  width: 100%;
  display: block;
  padding: 0 1%;
  transform: drop-shadow(10px 2px 30px black);
  background-color: #1a1a1a;
  border-bottom: solid 1px #c3c6ff;
  z-index: 5; 
}

.info-card{
  background-color: rgb(44, 44, 44);
  padding: 3% 12%;
  border-bottom-right-radius: 1em; 
  border-bottom-left-radius: 1em;
  filter: drop-shadow(0px 4px 5px #4444dd);
}

/*ICONS*/
.right-arrow{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 13px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.door-open{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.house{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.code{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.joint{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.game-pad{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.cube{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.music{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.view-project-button{
  background-color: #4444dd;
  text-align: center;
  transition: all 1s ease;
  border-radius: 1em;
  filter: drop-shadow(1px 3px 5px #3f3f3f);
  margin: 10% 0;
  padding: 3%;
}

.view-project-button:hover{
  background-color: #646cff;
  transition: all 0.25s ease;
  transform: scale(1.01);
  border-radius: 0.3em;
}

.img-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.img-wrapper img{
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 1em;
  border: solid 1px #646cff;
}

/*MODAL*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal-content {
  background-color: rgb(26, 26, 26);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 70%;
  border-radius: 5px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

.modal-wrapper{
  padding: 0% 12%;
}

/*GRID*/
.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.col-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  width: 100%;
}

.col-2-grid:first-child {
  margin: 0 10%;
}

@media screen and (max-width: 768px) {
  #nav {
    width: 15.5%; 
  }

  #root {
    width: calc(100% - 15%);
    margin-left: 15%;
  }

  .home-profile-img {
    padding: 50%; 
    transform: translate(0px, 80px) scale(0.9);
    float: none;          
    display: block;        
    margin: 0 auto;        
  }

  .home-banner{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    text-align: center;
  }

  .info-card{
    padding: 3% 7%;
  }

  .right-arrow{
    display: none;
  }

  #nav button{
    justify-content: center;
  }

  .col-2-grid {
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .col-2-grid:first-child {
    margin: 0 5%;
  }
}



