* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;   
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-font-smooth: always;
}

#root {
  width: calc(100% - 5%);
  margin-left: 5%;
  overflow-x: hidden;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: #1a1a1a; 
}

#nav button {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0;
  text-align: left;
  padding-top: calc((100vh / 4) / 2.01); /*THIS IS THE CSS FOR THE NAVBAR BUTTONS CALC*/
  padding-bottom: calc((100vh / 4) / 2.01);
}

.home-page {
  min-height: 10vh;
  width: 100%;
}

.home-profile-img {
  float: left;
  position: relative;
  border-radius: 50%;
  padding: 7%;
  margin: 3% 7%;
  background-color: rgb(148, 148, 148);
  background-image: url("/public/me_05_05_25.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  border:#646cff solid 2px ;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) drop-shadow(0 0 10px rgba(100, 108, 255, 0.5));
}

.home-banner{
  border-bottom: solid 10px #646cff;
  text-align: left;
  padding: 25%;
  padding-top: 3%;
  padding-bottom: 0;
  background-color: rgb(32, 32, 32);
  width: 100%;
}

.home-content{
  min-height: 50vh;
  padding: 5% 20%;
  background-color: rgb(15, 3, 71)#000000;
}

.book{
  display: flex;
  justify-self: center;
  height: 20rem;
  border: solid 0.5px #646cff;
  box-shadow: #111111 3px 3px 5px;
  margin: 2% 0;
}

.col-2-grid .book {
  margin-bottom: 15%;
}

.card-view-page{
  min-height: 100%;
  margin-top: 25vh;
  width: 100%;
}

.iot-page{
  max-height: 100vh;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.card-view-banner {
  position: fixed; 
  top: 0;
  width: 100%;
  height: 25vh;

  display: flex;
  align-items: center;        
  justify-content: flex-start;     

  padding: 0 5%;
  transform: none;
  background-color: #1a1a1a;
  border-bottom: solid 1px #bfbfda;
  z-index: 5;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
}

.card-view-banner h2 {
  padding: 1% 5%;
  width: 66%;
  box-shadow: #646cff -5px 5px 0.1px;
  border: solid 0.5px #646cff;
}

.info-card{
  background-color: rgb(44, 44, 44);
  padding: 5% 9% 0% 9%;;
  margin: 1% 5%;
  border-bottom-right-radius: 1em; 
  border-bottom-left-radius: 1em;
  border-top: solid 2px #646cff;
  box-shadow: #111111 3px 3px 5px;
  background-color: #2e2e2e;
}

/*ICONS*/
.right-arrow{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 13px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.door-open{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.house{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.code{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.joint{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.game-pad{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.cube{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.network{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.music{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: transform 0.3s ease;
}

.linkedin{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width: 30px;
  margin-right: 0.2em;
  transition: all 0.2s ease;
}

.linkedin:hover, .linkedin:focus{
  transition: all 0.25s ease;
  animation: iconBounce 1s ease;
}

.email{
  filter: invert(1) sepia(1) saturate(50) hue-rotate(180deg);
  max-width:30px;
  margin-right: 0.2em;
  transition: all 0.2s ease;
}

.email:hover, .email:focus{
  
  transition: all 0.25s ease;
  animation: iconBounce 1s ease;
}

@keyframes iconBounce {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-10px);
  }
  40%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(-9px);
  }
  60%{
    transform: translateY(-12px);
  }
  100%{
    transform: translateY(0);
  }
}

.home-icons a{
  padding: 0 15px;
}

.home-icons a:active{
  transform: scale(1.2);
}

.view-project-button{
  background-color: #1a1a1a;
  text-align: center;
  transition: all 1s ease;
  border: solid 1px #b6b9ff;
  filter: drop-shadow(0px 0px 2px #eae2ff);
  margin: 6% 0 15% 0;
  padding: 3%;
}

.view-project-button:hover{
  background-color:  #4444dd;
  transition: all 0.25s ease;
  transform: scale(1.01);
  border-radius: 0.3em;
}

.img-wrapper {
  position: relative;         /* Needed for ::before to position correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  padding: 0 0;
  height: 25vh;
  overflow: hidden;
  filter: drop-shadow(0px 0px 12px #0c0c0cbb);
}

.img-wrapper img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border: solid 0.5px #7e7e7e;
  display: block;
  position: relative;         /* Ensure it's stacked below the overlay */
  z-index: 0;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(19, 220, 255, 0.363), rgba(25, 0, 255, 0.233));
  pointer-events: none;
  z-index: 1;
}

/*MODAL*/
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden; 
}

.modal-title{
  padding: 0% 6%;
}

.modal-content {
  background-color: rgb(26, 26, 26);
  margin: 3% auto;
  padding: 35px;
  border: 1px solid #888;
  width: 90%;
  max-width: 90%;
  min-height: 85vh;
  max-height: 85vh;
  border-radius: 2px;
  position: relative;
  max-height: 70vh;    
  overflow-y: scroll;    
}

.modal-content img{
  max-width: 100%;
  filter: drop-shadow(20px 20px 20px #0c0c0c);
  border: solid 1px #646cff;
}

.modal-markdown {
  min-width: 100%;
  height: auto;
  overflow-y: auto;
  padding: 0% 6%;
  line-height: 1.5em;
}

.close {
  color: #dfdfdf;
  background-color: #202020;

  position: sticky;
  top: 10px;
  right: 10px;

  display: inline-block;      /* KEY FIX */
  width: fit-content;         /* SAFARI SAFE */
  max-width: max-content;

  font-size: 18px;
  padding: 0 0.45em;
  border-radius: 2em;
  box-shadow: 0px 0px 5px #646cff;
  font-weight: bold;
  cursor: pointer;

  z-index: 100;
}


.close:hover,
.close:focus {
  color: #646cff;
  transform: scale(1.1);
}

.modal-wrapper{
  padding: 0% 12%;
}

/*Video Player*/
.video-player{
  height: 540px;
  width: 960px;
}

/*3D-Viewer*/
.three-d-page {
  height: 100vh; /* Exactly the viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent child overflow from causing scroll */
}

.model-viewer {
  flex: 1; /* Takes up remaining space */
  width: 100%;
  position: relative;
  cursor: crosshair;
}

.model-viewer-nav {
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 10px solid #646cff;
}

.model-viewer-nav button {
  padding: 1rem 5%;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.model-viewer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  min-height: 19vh; 
  padding: 0 3%;
  background-color: rgb(32, 32, 32);
}

.model-viewer-info button:hover a {
  color: #646cff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  z-index: 10;
  pointer-events: none; 
  text-align: center;
}

/*TAB WINDOW*/
.tab{
  display: flex;
  justify-content: flex-start;
  margin-top: 250px;  
  min-height: 100%;
}

.tab button {
  display: flex;
  padding: 0 5%;
  margin: 0;
  min-width: 50%;
  justify-content: center; 
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.tabcontent{
  background-color: #1a1a1a;
  border-top: solid 1px #c3c6ff;
  min-height: 100vh;
  padding: 5%;
}

.tabcontent h3{
  margin: 0;
  padding: 3%;
}

/*GRID*/
.row {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.row p{
  padding: 0 8%;
}

.col-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 80px;
  width: 100%;
}

.col-2-grid:first-child {
  margin: 0 10%;
}

@media screen and (max-width: 768px) {
  #nav {
    width: 12.5%; 
  }

  #root {
    width: calc(100% - 12%);
    margin-left: 12%;
  }

  .home-profile-img {
    padding: 50%; 
    transform: translate(0px, 80px) scale(0.5);
    float: none;          
    display: block;        
    margin: 10% auto;        
  }

  .home-banner{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20%;
    text-align: center;
  }

  .home-content{
    min-height: 50vh;
    padding: 5% 5%;
    background-color: rgb(15, 3, 71)#000000;
  }

  .video-player{
    height: 180px;
    width: 500px;
  }

  .card-view-banner h2 {
    width: 92%;
    padding: 2% 5%;
  }

  .info-card{
    padding: 3% 5%;
  }

  .info-card h3{
    padding-top: 15%;
    padding-right: 25%;
  }

  .right-arrow{
    display: none;
  }

  #nav button{
    justify-content: center;
  }

  .col-2-grid {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .col-2-grid:first-child {
    margin: 0 5%;
  }

  .modal-content {
    background-color: rgb(26, 26, 26);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 90%;
    min-height: 90vh;
    max-height: 90vh;
    border-radius: 5px;
    position: relative;
    max-height: 70vh;    
    overflow-y: scroll;    
  }

  .model-viewer-info button {
    padding: 8%;
  }
}

@media screen and (max-width: 1270px){
  .right-arrow{
    display: none;
  }
}


