:root {
  font-family: Inter, system-ui;
  line-height: 1.613;
  letter-spacing: 0.06em;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.918);

  background-color: rgb(15, 3, 71)#000000;
  filter: contrast(0.95) hue-rotate(1deg);
  min-height: 100%; 
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #b7bbff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #646cff;
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0.06em;
}

p, ol, ul, li, blockquote, pre{
  letter-spacing: 0.07em;
  line-height: 2rem;
  font-size: 1em;
  text-align: start;
}

video {
  width: 85%;
  display: flex; 
  border: #646cff solid 1px;
  filter: drop-shadow(0 0 10px rgba(100, 108, 255, 0.5));
  border-radius: 1em;
  justify-self: center;
  aspect-ratio: 16 / 9;
  margin-bottom: 3%;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #1a1a1a;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95em;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}
h2 {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: 400;
}
h3{
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.11em;
}
h4{
  font-size: 1.1em;
  line-height: 1.1;
  font-weight: 400;
}

button {
  border: none; 
  height: 10%;
  border-bottom:solid 0.5px #b7bbff;
  justify-content: space-between;
  display: flex; 
  padding: 10% 10%;
  font-size: 12pt;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
}

button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 5px;
  background-color: #646cff;
  transition: width 0.25s ease;
}

button:hover::after {
  width: 100%; 
}

button.active::after {
  width: 100%; 
}

button:active{
  background-color: #5f5f5f;
  transition: all 0.25s ease;
}

button:hover .right-arrow {
  transform: translateX(7px);
  transition: all 0.25s;
}

button:active .right-arrow{
  transform: translateX(0px);
}


@media screen and (max-width: 768px) {
  h1, h2, h3 {
    transform: scale(0.9);
  }
}