:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-image: url("/public/parallax.jpg");
  min-height: 100%; 
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #b7bbff;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.0em;
  line-height: 1.1;
}

button {
  border: none; 
  border-bottom:solid 0.5px #b7bbff;
  justify-content: space-between;
  display: flex; 
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  position: relative;
  transition: border-color 0.25s;
}

button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 2px;
  background-color: #646cff;
  transition: width 0.25s ease;
}

button:hover::after {
  width: 100%; 
}

button.active::after {
  width: 100%; 
}

button:hover .right-arrow {
  transform: translateX(7px);
  transition: all 0.25s;
}

